* {
  box-sizing: border-box;
}

body {
  margin: 20px 10px;
  font-family: "Arimo", Arial, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.45;
  height: 100vh;
  overflow-y: hidden;
  display: flex;
}

p {
  margin: 0;
  line-height: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Arimo", Arial, sans-serif;
  color: var(--main-color);
  font-weight: 700;
  margin: 0;
}

h1 {
  font-size: 30px;
  padding: 2px 0 2px 10px;
  margin-bottom: 12px;
  border-left: 9px solid #271c65;
}

h2 {
  font-size: 21px;
  margin: 0 0 0.5rem 0;
}

h3 {
  font-size: 18px;
}

h4 {
  margin: 0 0 1rem 0;
  font-size: 16px;
}

h5 {
  margin: 0.2rem;
  font-size: 14px;
  font-weight: normal;
}

.calculator-main {
  width: 100%;
}

main {
  width: calc(100% - 10px);
  margin-bottom: 3rem;
}

.form-column {
  overflow-y: auto;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.1) transparent;

  &.main-form-column {
    max-width: 900px;
  }

  &::-webkit-scrollbar {
    width: 1px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.08);
  }
}