* {
  box-sizing: border-box;
}

body {
  margin: 20px 10px;
  font-family: "Arimo", Arial, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.45;
}

p {
  margin: 0;
  line-height: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Arimo", Arial, sans-serif;
  color: var(--main-color);
  font-weight: 700;
  margin: 0;
}

h1 {
  font-size: 30px;
  padding: 2px 0 2px 10px;
  margin-bottom: 12px;
  border-left: 9px solid #271c65;
}

h2 {
  font-size: 21px;
  margin: 2rem 0 0.5rem 0;
}

h3 {
  font-size: 18px;
}

h4 {
  margin: 0 0 1rem 0;
  font-size: 16px;
}

h5 {
  margin: 0.2rem;
  font-size: 14px;
  font-weight: normal;
}

.calculator-main {
  min-width: var(--min-page-width);
  max-width: var(--max-page-width);
}

main {
  width: calc(100% - 10px);
  margin-bottom: 3rem;
}