:root {
  --white-color: #fff;
  --black-color: #000;
  --dark-grey-color: #333;
  --medium-grey-color: #666;
  --grey-color: #999;
  --light-grey-color: #ddd;
  --main-color: #9e1981;
  --info-color: #19199e;
  --danger-color: #9e1919;
  --bg-flash-color: #f7e;
  --bg-control-color: #eef;
  --bg-error-color: #fdd;
  --bg-warning-color: #ffc;
  --bg-locked-color: #fafafa;

  --min-page-width: 660px;
  --max-page-width: 860px;
}
