:root {
  --kbx-white-color: #fff;
  --kbx-black-color: #000;
  --kbx-dark-grey-color: #333;
  --kbx-medium-grey-color: #666;
  --kbx-grey-color: #999;
  --kbx-light-grey-color: #ddd;
  --kbx-main-color: #9e1981;
  --kbx-info-color: #19199e;
  --kbx-danger-color: #9e1919;
  --kbx-bg-flash-color: #f7e;
  --kbx-bg-control-color: #eef;
  --kbx-bg-error-color: #fdd;
  --kbx-bg-warning-color: #ffc;
  --kbx-bg-locked-color: #fafafa;

  --kbx-min-page-width: 660px;
  --kbx-max-page-width: 860px;
  --kbx-left-column-width: 150px;
}
