.button-group {
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  button {
    padding: 6px 40px;
    background-color: var(--kbx-main-color);
    color: var(--kbx-white-color);
    border: none;
    border-radius: 24px;
    display: block;
    margin: 1rem auto;
    cursor: pointer;

    &:disabled {
      background-color: var(--kbx-grey-color);
      cursor: not-allowed;
    }
  }
}