.current-order {
  margin: 0.5rem auto;

  .current-order-description {
    font-style: normal;
    margin: 0;
    font-size: 14px;
    color: var(--kbx-dark-grey-color);

    &.data-not-full {
      font-style: italic;
      font-weight: normal;
      color: var(--kbx-medium-grey-color);
    }
  }

  .order-elements {
    padding: 1rem;
    margin: 0;

    li {
      list-style: none;
    }
  }
}