.form-group {
  display: flex;
  padding: 6px 0 6px 5px;

  &.locked {
    background-color: var(--bg-locked-color);

    input, label {
      cursor: not-allowed;
      opacity: 0.5;
      pointer-events: none;
    }
  }

  label {
    display: inline-block;
    min-width: var(--left-column-width);
    line-height: 30px;
  }

  img.img-dimensions {
    position: absolute;
    top: 0;
    left: 40px;
    width: 200px;
    margin-right: 10px;
  }
}

.order-group {
  margin-top: 6px;
}

.border-explanation {
  margin-left: calc(var(--left-column-width) + 5px);
  padding: 6px;
  font-style: italic;
}

.discount {
  margin-left: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--left-column-width);

  label {
    min-width: 50px;
  }
}

input[type="number"], select {
  width: 100%;
  padding: 4px;
}

input[type="radio"] {
  height: 16px;
  width: 16px;
  accent-color: var(--main-color);
}

input.width-narrow {
  width: 250px;
}

label.width-very-narrow, input.width-very-narrow {
  width: 50px;
}

.radio-group {
  display: flex;
  gap: 10px;

  &.radios-with-imgs {
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
  }

  label {
    display: flex;
    min-width: 110px;
    margin-right: 10px;
    align-items: center;
    cursor: pointer;

    div p {
      width: 100%;
      margin-top: 3px;
    }
  }

  input {
    margin-right: 5px;
  }
}