.orders-list {
  .orders-list-header {
    margin: 12px 10px 0 ;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .summary-price {
      font-size: 14px;
    }
  }

  .orders-list-elements {
    font-size: 12px;
    margin: 0;
    padding: 0 0.5rem 0 0;

    > li {
      display: flex;
      gap: 10px;
      list-style: none;
      padding: 1rem 0.25rem;
      margin: 0 -0.25rem;
      border-bottom: 1px solid var(--kbx-medium-grey-color);
    }
  }

  .order-summary {
    display: flex;
    flex-direction: column;
    min-width: 80px;
    justify-content: space-between;
    border-radius: 6px;
    padding: 0.5rem 0.3rem;
    border: none;

    &.normal-order {
      background-color: var(--kbx-bg-flash-color);
    }

    &.multi-order {
      background-color: var(--kbx-main-color);
      color: var(--kbx-white-color);
    }

    div {
      text-align: right;

      &:not(:last-child) {
        padding-bottom: 0.3rem;
      }
    }
  }

  .order-description {
    width: 100%;;
  }

  .order-elements {
    padding: 0.25rem;
    margin: 0;

    li {
      margin: 0.2rem 0 0 0.5rem;
      display: block;
    }
  }

  .make-order, .remove-order {
    padding: 0.3rem 0.5rem;
    color: var(--kbx-white-color);
    border: none;
    border-radius: 24px;
    display: block;
    text-decoration: none;

    &.make-order {
      background-color: var(--kbx-info-color);
      text-align: center;
    }

    &.remove-order {
      background-color: var(--kbx-danger-color);
      cursor: pointer;
    }
  }
}

.buttons-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 80px;
}