/* COLORS */
:root {
  --text-color: #333;
  --text-color-warning: #e00;
  --border-color: #333;
  --bg-checked-color: #007bff;
  --bg-control-color: #eef;
  --bg-error-color: #fdd;
  --bg-warning-color: #ffc;
  --bg-locked-color: #ffe;
}
  
/* GENERAL */
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  transform-origin: 0 0;
}

td, th {
  overflow: auto;
}
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}
select {
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}
select::-ms-expand {
  display: none;
}

.page-a4 {
  color: var(--text-color);
  padding: 0.5rem;
  max-width: 20.5cm;
  margin: 0.5rem auto;
}

header {
  margin-bottom: 0.5rem
}

.info-by-receiver {
  font-size: 11px;
  margin-top: 0.5rem;
  text-align: center;
}
.info-by-receiver label {
  margin-left: 0.5rem;
}
.info-by-receiver input {
  max-height: 1rem;
  padding: 0.1rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.order-heading {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin: 0.5rem auto 0.1rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0 !important;
}
.top-table {
  margin: 0 auto 0.25rem auto;
  max-width: 20cm;
}
.top-table input[type="radio"] {
  width: 1.25rem;
  height: 1.25rem;
  margin: 0 auto;
  appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
  border: 1px solid currentColor;
  border-radius: 50%;
  display: grid;
  place-content: center;
}
.top-table input[type="radio"].required-field-error {
  background-color: var(--bg-error-color);
}
.top-table input[type="radio"]::before {
  content: "";
  display: block;
  width: 0.65rem;
  height: 0.65rem;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--bg-checked-color);
  border-radius: 50%;
  background-color: currentColor;
  margin: auto;
}
.top-table input[type="radio"]:checked::before {
  transform: scale(1);
}

td,
th {
  border: 1px solid var(--border-color);
  border-spacing: 0 !important;
}
td.border-none,
th.border-none {
  border: none;
}

.control-cell {
  width: 100%;
  padding: 0.2rem;
  margin: 0;
  border: 0;
  background-color: var(--bg-control-color);
}
input, select {
  cursor: pointer;
}

.control-cell.narrow-selector {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.add-caret-icon {
  position: relative;
  overflow: hidden;
}
.add-caret-icon::after {
  content: "𝅏";
  font-size: 20px;
  position: absolute;
  pointer-events: none;
  color: #333;
  top: 0mm;
  right: 1px;
}

textarea.control-cell {
  padding: 0;
  margin: 0;
  height: 100%;
  resize: none;
  border: none;
}

.title-cell {
  font-size: 12px;
  font-weight: bold;
  padding-left: 0.1rem;
}
.title-cell label {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.4rem 0;
}
.title-cell i {
  font-weight: normal;
  font-size: 11px;
}

.signatures {
  height: 1.1cm;
  margin: 0.1rem 0.75rem 1rem;
}

.form-button {
  font-size: 12px;
  padding: 0.2rem 0.5rem;
  border-radius: 0.25rem;
  background-color: transparent;
  cursor: pointer;
}
.reset-button {
  background-color: var(--bg-warning-color);
}

.footnotes {
  font-size: 11px;
  margin: 1rem 0;
}

.warning-dialog {
  border: 3px solid var(--text-color-warning);
  color: var(--text-color-warning);
  border-radius: 1rem;
}

.warning-dialog .dialog-info,
.warning-dialog .reset-button {
  margin: 1rem;
}

/* CUSTOM ELEMENTS STYLES */
.required-field-error {
  background-color: var(--bg-error-color);
}
.central-table-legend {
  margin: 0.25rem 0;
}

.orderer {
  border-collapse: collapse;
}
.orderer textarea {
  padding: 0.3rem;
  width: 100%;
  height: 12mm;
  border: none;
}
.orderer td label{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.orderer td sup {
  font-size: 10px;
  color: var(--text-color-warning)
}

.one-digit-input {
  width: 1.5rem;
  text-align: center;
}

.visible-when-locked {
  display: none;
}
.locked {
  background-color: var(--bg-locked-color);
  pointer-events: none;
  padding: 0.5rem;
}
.locked .visible-when-locked {
  display: block;
}
.pointer-events-none {
  pointer-events: none;
}

.double-height {
  height: 14mm;
}

.changed {
  animation: flash 1.5s;
}
@keyframes flash {
  0% { background-color: var(--bg-control-color); }
  20% { background-color: var(--bg-checked-color); }
  100% { background-color: var(--bg-control-color); }
}

/* PADDINGS, MARGINS, GAPS */
.p-0 { padding: 0; }
.p-02 { padding: 0.2rem; }
.p-03 { padding: 0.3rem; }
.pl-0 { padding-left: 0; }

.gap-075 { gap: 0.75rem; }

.mr-05 { margin-right: 0.5rem; }
.ml-1 { margin-left: 1rem; }
.mx-auto { margin-left: auto; margin-right: auto; }
.my-05 { margin-top: 0.5rem; margin-bottom: 0.5rem; }
.my-1 { margin-top: 1rem; margin-bottom: 1rem; }
.mt-05 { margin-top: 0.5rem; }

/* UTILS */
.border-right { border-right: 1px solid var(--border-color); }
.text-lg { font-size: 14px; }
.text-md { font-size: 12px; }
.text-sm { font-size: 10px; }
.text-xs { font-size: 8px; }
.text-bold { font-weight: bold; }
.text-warning { color: var(--text-color-warning); }

.align-center { text-align: center; }
.align-right { text-align: right; }
.display-inline { display: inline; }
.display-flex { display: flex; }
.justify-between { justify-content: space-between; }
.justify-center { justify-content: center; }
.justify-end { justify-content: flex-end; }
.align-bottom { align-items: flex-end; }
.flex-column { display: flex; flex-direction: column; }
.h-full { height: 100%; }
.h-7mm { height: 7mm; }

/* WIDTHS */
.col-1 { width: 8.33333333%; }
.col-2 { width: 16.66666667%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33333333%; }
.col-6 { width: 50%; }
.col-8 { width: 66.66666667%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33333333%; }
.col-12 { width: 100%; }

.w-9mm { width: 9mm; }
.w-20mm { width: 20mm; }
.w-50mm { width: 50mm; }
.w-7proc { width: 7%; }
.w-18proc { width: 18%; }
/* BORDERS */
.border-bold {
  border: 2px solid var(--border-color);
}
.border-none {
  border: none;
}
.bottom-dotted {
  border-bottom: 2px dotted var(--border-color);
}
.hidden { display: none; }
@media print {
  .no-print {
    display: none;
  }
}